system {
    host-name "{{ device["nodename"] }}";
    root-authentication {
        encrypted-password "{{ config["login"]["root"]["md5"] }}";
    }
    login {
        message {{ device["motd"] }};
        {% for user in config["login"]["user"] %}
        user {{ user["name"] }} {
            uid {{ user["uid"] }};
            class super-user;
            {% if user["ecdsa"] or user["ed25519"] or user["rsa"] %}
            authentication {
                {% for type in ["ecdsa", "ed25519", "rsa"] %}
                {% for key in user[type] %}
                ssh-{{ type }} "{{ key }}";
                {% endfor %}
                {% endfor %}
            }
            {% endif %}
        }
        {% endfor %}

    }
    services {
        ssh {
            root-login deny;
            no-tcp-forwarding;
            protocol-version v2;
            client-alive-count-max 5;
            client-alive-interval 20;
            fingerprint-hash sha2-256;
        }
        netconf {
            ssh;
        }
    }
    auto-snapshot;
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }

}
interfaces {
    {% for iface in device["physical_interfaces"] %}
    {{ iface["name"] }} {
        mtu 9014;
        unit 0 {
            family ethernet-switching {
            {% if iface["mode"] == "ACCESS" %}
                port-mode access;
                vlan {
                    members {{ iface["untagged_vlan"]["name"] }};
                }
            {% elif iface["mode"] == "TAGGED" %}
                port-mode trunk;
                vlan {
                    members {{ iface["tagged_vlans_text"] }};
                }
                native-vlan-id {{ iface["untagged_vlan"]["vid"] }};
            {% elif iface["mode"] == "TAGGED_ALL" %}
                port-mode trunk;
                vlan {
                    members all;
                }
                native-vlan-id {{ iface["untagged_vlan"]["vid"] }};
            {% endif %}
            }
        }
    }
    {% endfor %}
    vlan {
        {% for iface in device["virtual_interfaces"] %}
        unit {{ iface["untagged_vlan"]["vid"] }} {
            family inet {
            {% if iface["do_dhcp"] %}
                dhcp;
            {% else %}
                {% for addr in iface["ip_addresses"] %}
                address {{ addr["address"] }};
                {% endfor %}
            {% endif %}
            }
        }
        {% endfor %}
    }
}
snmp {
    location "{{ device["location"]["name"] }}"
    community "{{ config["snmp_community"] }}" {
        authorization read-only;
    }
}
routing-options {
    rib inet.0 {
        {% if device["gateway"] %}
        static {
            route 0.0.0.0/0 next-hop {{ device["gateway"] }};
        }
        {% endif %}
    }
}
protocols {
    igmp-snooping {
        vlan all;
    }
    rstp {
        {% for iface in device["physical_interfaces"] %}
            {% if iface["_custom_field_data"]["trusted"] %}
        interface {{ iface["name"] }}.0;
            {% else %}
        interface {{ iface["name"] }}.0 {
            edge;
            no-root-port;
        }
            {% endif %}
        {% endfor %}
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
}
ethernet-switching-options {
    secure-access-port {
        {% for iface in device["physical_interfaces"] %}
        interface {{ iface["name"] }}.0 {
            {% if iface["_custom_field_data"]["trusted"] %}
            dhcp-trusted;
            {% else %}
            no-dhcp-trusted;
            {% endif %}
        }
        {% endfor %}
    }
    storm-control {
        interface all;
    }
}
vlans {
{% for vlan in vlans %}
    {{ vlan["name"] }} {
        vlan-id {{ vlan["vid"] }};
        {% if vlan["vid"] in device["vids"] %}
        l3-interface vlan.{{ vlan["vid"] }};
        {% endif %}
    }
{% endfor %}
}
poe {
{% for iface in device["physical_interfaces"] %}
    {% if iface["_custom_field_data"]["poe"] %}
        interface {{ iface["name"] }};
    {% else %}
        # interface {{ iface["name"] }};
    {% endif %}
{% endfor %}
}
